Gloze-1.01-beta2/test/schema/all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/"
	elementFormDefault="qualified">

	<xs:element name="foo" type="xs:string"/>
	<xs:element name="bar" type="xs:int"/>

	<xs:element name="element">
		<xs:complexType mixed="true">
			<xs:all>
				<xs:element ref="foo" minOccurs="0"/>
				<xs:element ref="bar"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

</xs:schema>
