Gloze-1.01-beta2/test/schema/ecore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/"
	elementFormDefault="qualified" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" >
		
	<xs:complexType name="Foo">
		<xs:attribute name="id" type="xs:ID" />
	</xs:complexType>

	<xs:element name="foobar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="foo" type="Foo" />
				<xs:element name="bar" type="xs:IDREF" ecore:reference="Foo" />
			</xs:sequence>
			<xs:attribute name="baz" type="xs:IDREF" ecore:reference="Foo" />
		</xs:complexType>
	</xs:element>

</xs:schema>
