Gloze-1.01-beta2/test/schema/substitution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/"
	elementFormDefault="qualified">
	
	<xs:element name="head" />
	
	<xs:element name="member" substitutionGroup="head">
		<xs:complexType />
	</xs:element>
	
	<!-- member substitutes for head, so head has cardinality of 2 -->
	<xs:complexType name="Substitution">
		<xs:sequence>
			<xs:element ref="head" />
			<xs:element ref="member" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
