Gloze-1.01-beta2/test/schema/union.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.org/" xmlns="http://example.org/"
	elementFormDefault="qualified">
	
	<xs:simpleType name="SimpleType">
	  <xs:union memberTypes="xs:IDREFS">
	  	<xs:simpleType>
	  		<xs:list itemType="xs:QName"/>
	  	</xs:simpleType>
	  </xs:union>
	</xs:simpleType>
	
	<xs:element name="simpleType">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="foo" type="SimpleType" maxOccurs="unbounded" />
	    </xs:sequence>
	    <xs:attribute name="id" type="xs:ID"/>
	  </xs:complexType>
	</xs:element>

</xs:schema>
